{{#each rolls as |roll id|}}
<div class="ric dice-roll {{roll.hidden}}" data-roll-id="{{roll.id}}">
    <img src="{{roll.img}}" title="{{roll.name}}" data-token-id="{{roll.tokenID}}"/>
    <div class="dice-formula">{{roll.formula}}</div>
    <div class="result {{roll.passFail}}">{{roll.total}}</div>
    {{{roll.tooltip}}}
</div>
{{/each}}